:root{
    --color-uno:#6BDFDA;
    --color-dos:#9AD7F3;
    --color-tres:#FEC3C7;
    --color-fondo:#232323;
}

@font-face {
    font-family: poppinsBold;
    src: url(/storage/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinRegular;
    src: url(/storage/font/Poppins-Regular.ttf);
}